@import '../../index.scss';

.seriesView{
    grid-area: myMain;
    background: $secondary-color;
    width: 100%;
    min-height: 100%;
    border-radius: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(100px, auto) auto;
    row-gap: 15px;
    color: $text;
    box-shadow: none;
    height: auto;
    color: $text;
    .image{
        display: flex;
        justify-content: center;
    }
    img{
        justify-self: center;
        margin-top: 10px;
        border: 2px solid #fff;
        border-radius: 5px;
    }
    .seriesData{
        display: flex;
        flex-direction: column;
        .title{
            font-weight: bold;
            text-align: center;
        }
        .genre{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .plot{
            display: flex;
            flex-direction: column;
            align-items: center;
            .plotText{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 40px 0 40px;
            }
            h1{
                color: $text;
                margin-top: 20px;
                margin-bottom: 5px;
            }
        }
        .addSeries{
            width: 80%;
            max-width: 980px;
            align-self: center;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .addSeriesButton{
                background: $buttons;
                margin-top: 10px;
                border: none;
                color: $text;
                font-weight: bold;
            }
            .selectStatus, .episodes, .ratingStatus{
                width: 260px;
                display: flex;
                flex-direction: column;
                align-items: center;
                span{
                    align-self: flex-start;
                    margin-bottom: 2px;
                }
                .episodes-number{
                    margin-bottom: 7px;
                }
                select{
                    width: 100%;
                    margin: 5px;
                    border: none;
                    border-radius: 5px;
                    font-size: 18px;
                    background: $primary-color;
                    padding: 4px;
                    outline: none;
                }
                .inputSpan{
                    width: 100%;
                    display: flex;
                    border-radius: 5px;
                    font-size: 18px;
                    background: $primary-color;
                    padding: 4px;
                    background: $primary-color;
                    input{
                        background: $primary-color;
                        border: none;
                    }
                }
            }
        }
        .addComment{
            width: 80%;
            max-width: 980px;
            align-self: center;
            margin-top: 20px;
            .submitButton{
                background: $buttons;
                border: 1px solid $buttons;
                margin-top: 5px;
                color: $text;
                font-weight: bold;
            }
        }
        .comments-list{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            p{
                align-self: center;
            }
            .singleComment{
                width: 80%;
                margin: 10px 0;
                max-width: 980px;
                background: $primary-color;
                padding: 20px;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-self: center;
                .comment-data{
                    display: flex;
                    align-items: center;
                    span:nth-child(1){
                        margin-right: 10px;
                        font-weight: bold;
                    }
                    span:nth-child(2){
                       font-size: 12px;
                    }
                }
                .comment-content{
                    padding: 5px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px){
    .seriesView{
        grid-template-rows: auto minmax(100px, auto) auto;
        .seriesData{
            .title{
                font-size: 26px;
                margin-top: 8px;
            }
            .genre{
                flex-direction: row;
                justify-content: center;
                span{
                    margin: 10px 15px 0 15px;
                }
            }
            .plot{
                h1{
                    font-size: 20px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px){
    .seriesView{
        grid-template-rows: auto minmax(100px, auto) auto;
        .seriesData{
            .title{
                font-size: 26px;
                margin-top: 8px;
            }
            .genre{
                span{
                    font-size: 18px;
                }
            }
            .plot{
                h1{
                    font-size: 22px;
                }
                .plotText{
                    font-size: 18.5px;
                }
            }
        }
    }
}
